:root{
    --mainColor: #ced4da;
    --secondaryColor: #6c757d;

    --borderColor: #b5838d;

    --mainText:#343a40;
    --secondaryText: #212529;

    --themeDotBorder: #343a40;

    --previewBg:#e5e5e5;
    --previewShadow: #bdb2ff;

}

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-weight: 500;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

a{
    text-decoration: none;
    color: #212529;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);

}

.s1{
    background-color: var(--mainColor);
    border-bottom: var(--borderColor) 1px solid;
    overflow: auto;
        
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: var(--borderColor) 1px solid;
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;

    justify-content: center;
    text-align: center;
    align-content: center;
    /* border: 1px dashed #b5838d; */
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    box-shadow: 31px 15px 21px 2px rgba(0,0,0,0.59);
    -webkit-box-shadow: 31px 15px 21px 2px rgba(0,0,0,0.59);
    -moz-box-shadow: 31px 15px 21px 2px rgba(0,0,0,0.59);

    border-radius: 5px 5px 0 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    border: 1px dashed #b5838d;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}
#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}


.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot1, #dot2, #dot3{
    cursor: pointer;
}

#dot1, #dot2, #dot3:hover{
    border-width: 5px;
}

#dot1{
    background-color: #f94144;
    
}
#dot2{
    background-color: #f9c74f;
}
#dot3{
    background-color: #90be6d;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

.left-column{
    border: 1px dashed #b5838d;
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.right-column{
    grid-area: right-column;
    border: 1px dashed #b5838d;
    display: grid;
    align-content: center;
}

#profile_pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    border-radius: 50%;
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;
}
.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}
.theme-dot:hover{
    border-width: 5px;
}
#grey-mode{
    background-color: #6c757d;
}
#light-mode{
    background-color: white;
}
#dark-mode{
    background-color: #212529;
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 450px;
    height: 100px;
    padding-right: 80px;
    padding-top: 5px;
}
#preview{
    width: 440px;
    border: 1.5px solid #6d6875;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

/* CORNER */
.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #6d6875;
    background-color: #fff;
    position: absolute;
}

#corner-topleft{
    top: -5px;
    left: -5px;
}
#corner-topright{
    top: -5px;
    right: -5px;
}
#corner-bottomleft{
    bottom: -5px;
    left: -5px;
}
#corner-bottomright{
    bottom: -5px;
    right: -5px;
}
/* END OF CORNER */

/* ABOUT */
.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(320px, 1fr));
    padding-bottom: 50px;

}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}
/* END OF ABOUT */

/* PORTFOLIO */
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 80px;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 20px;
}
.thumbnail{
    height: 180px;
    width: 100%;
    display: block;
    object-fit: cover;
}
/* .post{
    border: 1px solid var(--borderColor);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

} */
.post-title{
    color: #212529;
    margin: 0;
}
.post-intro{
    font-size: 14px;
}
.post-preview{
    background-color: #e5e5e5;
    padding: 15px;
}

#submitbtn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    background-color:#bdb2ff;
    border: none;
}

/* END OF PORTFOLIO */

/* CONTACT */

:root {
    --primary-color: #010712;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --button-color: #3B3636;
    --h1-color: #3F444C;
  }
  
  [data-theme="dark"] {
    --primary-color: #FCFDFD;
    --secondary-color: #818386;
    --bg-color: #010712;
    --button-color: #818386;
    --h1-color: #FCFDFD;
  }

  
  h1, label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  /* h1 {
    color:var(--h1-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  } */
  
  p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  
  label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  
  form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  input, textarea, label {
    width: 40vw;
    display: block;
  }
    
  input::placeholder, textarea::placeholder {
    color: var(--primary-color);
  }
  
  input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  input:hover, textarea:hover, button:hover {
    opacity: 0.5;
  }
  
  button:active {
    opacity: 0.8;
  }
  
  /* Toggle Switch */
  
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 160px;
    position: absolute;
    top: 0.5rem;
    right: 0;
  }
  
  .description {
      margin-left: 1.25rem;
    }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
    }
  
  
    #success-msg {
    transition-delay: 3s;
    }
  
@media only screen and (max-width: 950px) {
    .logo {
      width: 8rem;
    }
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 0.7rem;
    }
    input, textarea, button {
      font-size: 0.65rem;
    }
    .description {
      font-size: 0.3rem;
      margin-left: 0.4rem;
    }
    button {
      width: 7rem;
    }
    .theme-switch-wrapper {
      width: 120px;
    }
    .theme-switch {
    height: 28px;
    width: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 20px;
    height: 20px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
    input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}
/* END OF CONTACT */


/* MEDIA QUERIES */
@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}