:root{
    --mainColor: #ced4da;
    --secondaryColor: #6c757d;

    --borderColor: #b5838d;

    --mainText:#343a40;
    --secondaryText: #212529;
}

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-weight: 500;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

a{
    text-decoration: none;
    color: #212529;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);

}

.s1{
    background-color: var(--mainColor);
    border-bottom: var(--borderColor) 1px solid;
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: var(--borderColor) 1px solid;
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;

    justify-content: center;
    text-align: center;
    align-content: center;
    /* border: 1px dashed #b5838d; */
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    box-shadow: 31px 15px 21px 2px rgba(0,0,0,0.59);
    -webkit-box-shadow: 31px 15px 21px 2px rgba(0,0,0,0.59);
    -moz-box-shadow: 31px 15px 21px 2px rgba(0,0,0,0.59);

    border-radius: 5px 5px 0 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    border: 1px dashed #b5838d;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots-wrapper{

}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

.left-column{
    border: 1px dashed #b5838d;
    grid-area: left-column;

}
.right-column{
    grid-area: right-column;
    border: 1px dashed #b5838d;

}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}